.input-search {
  -webkit-appearance: none;
  border-width: 0 0 3px 0;
  border-color: black;
  border-style: solid;
  background-color: transparent;
  outline: none;
  padding: 5px 0;
  width: 50%;
  margin: 0 auto 30px auto;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  color: black;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);
}
